@import 'src/assets/styles/_variables.scss';

.category img {
  width: 36px;
  height: 36px;
  background: $primary-color;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
}

.category {
  margin: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.label {
  font-family: $category-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;

  /* dark_gray */

  color: #5F6060;
}

.number {
  margin-left: 5px;

  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* gray */

  color: #9E9E9E;
}