@import 'src/assets/styles/_variables.scss';

ul {
    margin: 0;
    padding: 0;
}

div.input {
    position: relative;
    display: inline-block;
    min-width: 150px;
    background: #ffffff;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 22px;
    height: 48px;
}

input.text {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 130px;
    line-height: 19px;
    border: none;
    outline: none;
    color: $checkbox-text-color;
    cursor: pointer;
}