.btn_lesson {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 24px;
    gap: 10px;

    position: absolute;
    width: 182px;
    height: 47px;

    /* fuchsia */

    background: #EA2182;
    border-radius: 10px;
}

.btn_lesson p {
    /* Добавить занятие */
    
    width: 142px;
    height: 23px;

    /* btn_text */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    /* white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}