@import "src/assets/styles/_variables.scss";

.masonry_grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  /* gutter size offset */
  width: auto;
}

.info {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  height: auto;
  overflow: hidden;
  background-color: white;

  /* (main) */
  font-family: $primary-font-family;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #afa9bf;
  border-radius: 14px;
  margin-bottom: 40px;
  margin-top: -25px;

  /* dark_gray */
  color: #5f6060;

  div {
    div {
      background-color: white !important;
      border-color: white !important;
    }
  }

  a {
    color: #5f6060;
    margin: 1px 0px;
    display: flex;
    justify-content: center;
  }

  p {
    margin: 0px;
    padding: 0%;

    &:last-of-type {
      margin-bottom: -5px;
    }
  }

  @media only screen and (max-width: 1200px) {
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    max-width: 450px;
  }
}

.masonry_grid_column {
  margin-right: 150px;
  background-clip: padding-box;
  margin-left: 20px;
  width: 200px !important;

  &:last-of-type {
    padding-right: 50px;
  }

  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    width: 170px !important;
    margin-right: 100px;

    &:last-of-type {
      padding-right: 20px;
    }
  }

  @media only screen and (max-width: 1200px) {
    margin-left: 80px;
    width: 180px !important;
    margin-right: -10px;

    &:first-of-type {
      margin-left: -10px;
    }
  }
}

.categories {
  margin-left: 51px;
  margin-right: 51px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.label {
  display: inline;

  /* (main) */
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  margin-left: 10px;

  /* dark_gray */

  color: #5f6060;
}

.number {
  display: inline;
  margin-left: 19px;

  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;

  /* gray */
  color: #9e9e9e;
}

@media only screen and (min-width: 900px) and (max-width: 1400px) {
  .categories {
    padding-top: 32px;
  }

  .label {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 899px) {
  .categories {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .info {
    width: auto;
  }
}
