@import "src/assets/styles/_variables.scss";

.additional {
  margin-bottom: 36px;
  position: relative;

  p {
    position: relative;
    z-index: 2;
  }
  z-index: 1;

  border-radius: 14.3292px;
  width: 300px;
  height: 330px;
}

.price {
  background: url("../../assets/img/Union.svg") 92% 28%,
    url("../../assets/img/bgr.svg") 57% 96%,
    url("../../assets/img/additional.svg");
  background-repeat: no-repeat;

  .name {
    top: 215px;
  }
}

.no-price {
  background: url("../../assets/img/bgr.svg") 57% 96%,
    url("../../assets/img/additional.svg");
  background-repeat: no-repeat;

  .name {
    top: 260px;
  }
}

.name {
  display: block;
  width: 200px;
  left: 50px;

  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.exist,
.absent {
  font-family: $additional-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 133.9%;
  color: #ffffff;
}

.exist {
  top: 82px;
  left: 210px;
}

.absent {
  top: 84px;
  font-size: 16px;
  left: 195px;
}
