@import 'src/assets/styles/_variables.scss';

.additional {
  margin-bottom: 60px;
  div {
    position: relative;

    p {
      font-family: $additional-font-family;
      font-style: normal;
      font-weight: 700;
      line-height: 133.9%;
      color: #FFFFFF;
    }

    img {
      padding-top: 130px;
      padding-left: 42px;
      width: 238px;
    }
  }
}

.add {
  position: absolute;
  width: 330px;
}

.union {
  position: relative;
  padding-top: 85px;
  padding-left: 196px;
}

.name {
  position: relative;
  padding-left: 55px;
  width: 220px;
  margin-top: -60px;
  font-family: $primary-font-family;
  font-size: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.exist {
  padding-left: 215px;
  margin-top: -45px;
  font-size: 20px;
}

.absent {
  padding-left: 205px;
  padding-bottom: 5px;
  margin-top: -40px;
  font-size: 14px;
}