@import 'src/assets/styles/_variables.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1510px;
  min-height: 254px;
  margin: 0 auto;
}
.nav {
  &__item {
    display: inline-block;
  }
}
.vertical-line {
  display: inline-block;

  width: 1px;
  height: 15px;

  border-left: 1px rgba(255, 255, 255, 0.43) solid;
  border-radius: 1px;

  margin: 0 60px;
}
