@import 'src/assets/styles/_variables.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1510px;
  min-height: 254px;
  margin: 0 auto;
}

.nav {
  &__item {
    display: inline-block;

    a {
      text-transform: uppercase;
    }
  }
}

.vertical-line {
  display: inline-block;

  width: 1px;
  height: 15px;

  border-left: 1px rgba(255, 255, 255, 0.43) solid;
  border-radius: 1px;

  margin: 0 60px;
}

@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .vertical-line {
    margin: 0 16px;
  }

  .container {
    margin: 0 32px;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 55px;

    button {
      margin-top: 11px;
    }
  }

  .vertical-line {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__item {
      a {
        text-transform: none;
        font-size: 16px;
        line-height: 19px;
      }

      margin: 0 auto;
      padding-top: 18px;
    }
  }
}