// colors
$primary-color: #6d80d8;
$primary-btn-color: #ea2182;
$primary-heading-color: $primary-color;
$checkbox-text-color: #5f6060;
//fonts
$primary-font-family: 'Roboto-Regular', sans-serif;
$heading-font-family: 'Roboto-Medium', sans-serif;
$btn-font-family: 'Roboto-Bold', sans-serif;
$link-font-family: 'Ubuntu-Medium', sans-serif;
$category-font-family: 'HelveticaNeueBoldCondensed', sans-serif;
