@import "src/assets/styles/_variables.scss";

.course {
  padding: 30px 28px 39px 29px;
  border-bottom: 1px solid #eeefef;
}

.label {
  font-family: $heading-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  /* blue */
  color: $primary-color;

  padding-bottom: 16px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 130px;
    height: 130px;
    margin-right: 23px;
    border-radius: 12px;
  }
}

.info {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  /* dark_gray */
  color: #5f6060;

  max-width: 300px;
  margin-right: 67px;
}

.addition,
.mobile {
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  /* gray */
  color: #9e9e9e;

  max-width: 200px;
  min-width: 150px;
  margin-right: 60px;
  word-break: break-word;

  img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
  }
}

.block {
  margin-bottom: 21px;
  display: flex;
  align-items: center;

  img {
    border-radius: 0px;
  }
}

.price,
.tablet {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;

  /* dark_gray */
  color: #5f6060;
  width: 150px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstFree {
  align-self: flex-end;
  background-color: $primary-color;
  font-weight: 400;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  width: 130px;
  border-radius: 5px;
  color: white;
}

.open,
.close {
  align-self: flex-end;
  color: rgb(255, 255, 255);
  padding: 4px 6px;
  border-radius: 3px;
}

.open {
  width: 85px;
  background-color: $primary-color;
}

.close {
  width: 100px;
  background-color: #ff0000;
}

.mobile,
.tablet {
  display: none;
}

@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .course {
    padding: 30px 25px 30px 29px;
  }

  .content {
    margin-bottom: 26px;
  }

  .info {
    margin-right: 10px;
  }

  .addition {
    margin-right: 0px;
  }

  .price {
    display: none;
  }

  .tablet {
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    &-price {
      width: 100px;
    }
  }

  .firstFree {
    text-align: center;
    align-self: auto;
  }
}

@media only screen and (max-width: 760px) {
  .course {
    padding: 23px 13px 23px 8px;
  }

  .label {
    font-size: 15px;
    line-height: 18px;
  }

  .content {
    margin-bottom: 15px;

    img {
      width: 100px;
      height: 100px;
      margin-right: 14px;
    }
  }

  .addition,
  .price {
    display: none;
  }

  .mobile {
    display: block;
  }

  .tablet {
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    &-price {
      width: 100px;
    }
  }

  .firstFree {
    text-align: center;
    align-self: auto;
  }
}
