@import 'src/assets/styles/_variables.scss';

.h3 {
  width: 147px;
  height: 28px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.025em;
  margin-top: 0%;
  margin-bottom: 29px;
  color: #5F6060;
}
