@import 'src/assets/styles/_variables.scss';

.section {
  color: #626363;

  .container {
    height: auto;
    border-radius: 10px;
    margin: 10px auto;
    border: 1px solid #EEEFEF;
    width: 56%;
  }

  .question {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    width: inherit;
    cursor: pointer;
    text-align: left;
    padding: 22px;
    transition: 0.4s;
    background-color: #FFFFFF;
    width: 100%;
  }

  .question:after {
    content: url('./../../assets/img/circumflecs_descent.png');
    float: right;
    margin-left: 5px;
    transition: transform 0.3s;
  }

  .active {
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEFEF;
  }

  .active::after {
    transform: rotate(90deg);
  }

  .answer {
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    text-align: justify;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
    white-space: pre-line;
    width: 92%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 0 22px;
  }

  @media only screen and (max-width: 1024px) {
    .container {
      margin-left: 4%;
      width: 90%;
    }

    .answer {
      width: 90%;
    }
  }
}