.vk {
    border-radius: 10px;
    margin: auto;
}

.logo {
    width: 135px;
    height: auto;
    margin-bottom: 15px;
}

.info {
    width: 188px;
    height: auto;
    margin-bottom: 17px;
}

.subscribe {
    width: 159px;
    height: 35px;
    background-color: #8f5db7;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Roboto-Regular";
    font-weight: 500;
    cursor: pointer;
}