@import "src/assets/styles/_variables.scss";

.container {
  width: 90%;
  margin: 0 auto;

  h1 {
    font-family: $heading-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    /* blue */
    color: $primary-color;
    margin-left: 10%;
  }
}

.section {
  &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 133px;
  }
  &-categories {
    margin-right: 29px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .container {
    h1 {
      margin-left: 34px;
    }
  }

  .section {
    &-list {
      margin-left: 34px;
      margin-right: 32px;
      margin-bottom: 79px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    h1 {
      font-size: 20px;
      line-height: 26px;
      margin-left: 16px;
    }
  }

  .section {
    &-list {
      flex-direction: column;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 68px;
      align-content: center;
    }

    &-categories {
      margin-right: 0px;
      margin-bottom: 40px;
      align-content: center;
    }
  }
}
