@import 'src/assets/styles/_variables.scss';

.sheet {
  background: #FFFFFF;
  box-shadow: 0px -15.9214px 47.7641px rgba(129, 152, 211, 0.01), 0px 15.9214px 47.7641px rgba(129, 152, 211, 0.12);
  border-radius: 18px;
}