@import 'src/assets/styles/_variables.scss';

.section {
  margin: 0 auto;
  size: 30px;

  @media only screen and (min-width: 1025px) {
    padding-left: 15vw;
  }

  @media only screen and (max-width: 1024px) and (min-width: 700px) {
    padding-left: 32px;
  }

  @media only screen and (max-width: 699px) {
    padding-left: 16px;
  }
}

.table {
  display: table;

  .table_row {
    display: table-row;

    .table_cell {
      display: table-cell;
    }
  }
}

@media only screen and (max-width: 699px) {
  .table {
    display: block;

    .table_row {
      display: inline;
    }

    .table_cell {
      width: auto;
      padding-left: calc(100vw - 50%);
    }
  }
}