@import "src/assets/styles/_variables.scss";

.section {
  width: 90%;
  margin: 0 auto;

  &-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 133px;
  }
}

.sheet {
  margin: 49px 33px 10px 52px;
  padding-top: 1px;
  padding-right: 55px;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .section {
    &-list {
      margin-left: 34px;
      margin-right: 32px;
      margin-bottom: 79px;
    }
  }

  .sheet {
    margin: 10px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .section {
    &-list {
      flex-direction: column;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 68px;
      align-content: center;
    }

    &-categories {
      margin-bottom: 40px;
      align-content: center;
    }
  }

  .sheet {
    margin: 10px auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 29px;
  }
}
